#div_id button {
	font-size: 4em;
	height: 100px;
	width: 100px;
	background-color: red;
	color:red;
}


#div_id {
	text-align: center;
	width: 100%;

	position: relative;
}

h1 {
	font-size: 3em;
	width: 100%;
	text-align: center;
}

#inferior{
	width: 100%;	
	text-align: center;
}


#inferior button {
	font-size: 2em;
	color:white;
	background-color: green;
}
